/* VARIABLES 
======================== */
$main-light: 		#70acb2;
$main-dark: 		#5c8e92;
$red: 				#d67f6b;
$green:				#2eb398;
$blue:				#68a0a5;
$light-blue:		#79b0ec;
$light-green:		#55c9a6;
$light-red:			#eba068;

$text-color: 		#89949b;
$dark-text: 		#4e585d;
$main-bg: 			#273135;
$dark-bg: 			#171d20;
$body-bg: 			#e9f0f5;

/* MIXIN 
======================== */
@mixin transition($x){
	-webkit-transition: all $x ease;
	   -moz-transition: all $x ease;
		-ms-transition: all $x ease;
		 -o-transition: all $x ease;
			transition: all $x ease;

}

/* MAIN 
======================== */
body{
	background: $body-bg;
}
.two-col{
	width: 48%;
}
/* HEADER 
======================== */
header{
	color: $text-color;
	background: $main-bg;

	ul{
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 50%;

		li{
			padding: 25px 15px;
			font-size: 1.2em;

			&:first-child 		{color: $green;}
			&:nth-child(2) 		{color: $red;}
		}
	}
}

/* CONTENT 
======================== */
/* Sidebar
-------------------- */
.sidebar{
	background: $main-bg;
	position: fixed;
	width: 20%;
	height: 100%;

	.side-header{
		padding: 30px 0;
		background: $main-light;
		
		a{
			display: block;
			text-align: center;
		}
		img{
			width: 55%;
		}
	}

	h4{
		margin-top: 40px;
		padding-right: 20px;
		padding-left: 20px;
		font-weight: 700;
		font-size: 1.2em;
		text-transform: uppercase;
		color: $dark-text;
	}

	ul{
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-direction: column;

		li{
			width: 100%;

			a{
				display: block;
				padding: 10px 15px;
				border-left: 5px solid transparent;
				color: $text-color;
				text-decoration: none;
				@include transition(0.4s);

				i{
					margin-right: 10px;
				}

				&:hover{
					background: $dark-bg;
					border-left: 5px solid $main-light;
				}
			}
		}
	}
}

.content{
	position: relative;
	width: 80%;
	left: 20%;
}
.moneystream{
	padding: 50px;
	display: flex;
	justify-content: space-between;

	.panel{
		.panel-heading{
			i 			{margin-right: 10px;}
			span 		{font-weight: 300;}
		}
	}
	ul{
		list-style-type: none;
		padding: 0;
		font-size: 1.1em;

		li{
			padding: 5px 0;
			color: $text-color;

			span{
				font-style: italic;

				&::before{
					content: '€ ';
				}
			}
		}
	}

	form{
		margin-top: 25px;
		display: flex;
		justify-content: space-between;

		.form-control{
			border-radius: 0;
			width: 45%;
		}
	}
}

/* Content
-------------------- */

/* FOOTER 
======================== */

/* RESPONSIVE 
======================== */

/* ANIMATION 
======================== */