@charset "UTF-8";
/* VARIABLES 
======================== */
/* MIXIN 
======================== */
/* MAIN 
======================== */
body {
  background: #e9f0f5;
}

.two-col {
  width: 48%;
}

/* HEADER 
======================== */
header {
  color: #89949b;
  background: #273135;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50%;
}
header ul li {
  padding: 25px 15px;
  font-size: 1.2em;
}
header ul li:first-child {
  color: #2eb398;
}
header ul li:nth-child(2) {
  color: #d67f6b;
}
header .docings {
  width: 50%;
}
header .docings ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header .docings ul li a {
  color: #89949b;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header .docings ul li a:hover {
  color: #5c8e92;
}

/* CONTENT 
======================== */
/* Sidebar
-------------------- */
.sidebar {
  background: #273135;
  position: fixed;
  width: 20%;
  height: 100%;
}
.sidebar .side-header {
  padding: 30px 0;
  background: #70acb2;
}
.sidebar .side-header a {
  display: block;
  text-align: center;
}
.sidebar .side-header img {
  width: 55%;
}
.sidebar h4 {
  margin-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #4e585d;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  width: 100%;
}
.sidebar ul li a {
  display: block;
  padding: 15px 15px;
  border-left: 5px solid transparent;
  color: #89949b;
  text-decoration: none;
  font-size: 1.1em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar ul li a i {
  margin-right: 10px;
}
.sidebar ul li a:hover {
  background: #171d20;
  border-left: 5px solid #70acb2;
}
.sidebar ul li a.active {
  background: #171d20;
  border-left: 5px solid #70acb2;
}

.content {
  position: relative;
  width: 80%;
  left: 20%;
}

.moneystream {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.moneystream .panel .panel-heading i {
  margin-right: 10px;
}
.moneystream .panel .panel-heading span {
  font-weight: 300;
}
.moneystream ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
}
.moneystream ul li {
  padding: 5px 0;
  color: #89949b;
}
.moneystream ul li span {
  font-style: italic;
}
.moneystream ul li span::before {
  content: '€ ';
}
.moneystream form {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.moneystream form .form-control {
  border-radius: 0;
  width: 45%;
}

/* Content
-------------------- */
/* FOOTER 
======================== */
/* RESPONSIVE 
======================== */
/* ANIMATION 
======================== */
