<!-- 
<section class="">
	Grafiek inkomsten / kosten per maand
</section>
-->
<section class="moneystream">
	<div class="two-col">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-line-chart"></i> Recente Inkomsten
					<span class="pull-right">{{ lastInkomsten() | currency : "€ " : 2 }}</span>
				</h3>
			</div><!-- ./panel-heading -->
			<div class="panel-body">
				<ul>
					<li ng-repeat="rekening in inkomsten | orderBy: '-date' | limitTo: 5"><!-- | reverse | -->
						<span class="date">{{ rekening.date | date: "dd/MM" }}</span>
						{{ rekening.title }}
						<span class="pull-right">{{ rekening.bedrag | currency : "€ " : 2 }}</span>
					</li>
				</ul>
			</div><!-- .panel-body -->
		</div><!-- ./pane -->
	</div><!-- ./two-col -->

	<div class="two-col">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-exchange"></i>Recente Kosten
					<span class="pull-right">{{ lastKosten() | currency : "€ " : 2 }}</span>
				</h3>
			</div><!-- ./panel-heading -->
			<div class="panel-body">
				<ul>
					<li ng-repeat="rekening in kosten | orderBy: '-date' | limitTo: 5">
						<span class="date">{{ rekening.date | date: "dd/MM" }}</span>
						{{ rekening.title }}
						<span class="pull-right">{{ rekening.bedrag | currency : "€ " : 2 }}</span>
					</li>
				</ul>
			</div><!-- .panel-body -->
		</div><!-- ./pane -->
	</div><!-- ./two-col -->
</section>