<section class="single-page inkomsten-page">
	<h1>
		Overzicht Verkopen
		<a class="btn btn-default pull-right" data-toggle="modal" data-target="#inkomstenModal">
			<i class="fa fa-plus"></i>
		</a>
	</h1>	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="panel-sidebar">
				<ul class="years">
					<li>
						<h4>2016</h4>
						<ul class="months">
							<li><a href="#">Januari</a></li>
							<li><a href="#" class="active">Februari</a></li>
							<li><a href="#">Maart</a></li>
							<li><a href="#">April</a></li>
							<li><a href="#">Mei</a></li>
							<li><a href="#">Juni</a></li>
						</ul>
					</li>
					<li>
						<h4>2015</h4>
						<ul class="months">
							<li><a href="#">Januari</a></li>
							<li><a href="#">Februari</a></li>
							<li><a href="#">Maart</a></li>
							<li><a href="#">April</a></li>
							<li><a href="#">Mei</a></li>
							<li><a href="#">Juni</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- ./panel-sidebar -->

			<div class="panel-content">
				<div class="date">
					<strong>January 14, 2016</strong>
					<ul>
						<li ng-repeat="rekening in inkomsten | orderBy: '-date'">
							<div class="info">
								<strong>
									<span class="datum">{{ rekening.date | date: "dd/MM/yyyy"}}</span>
									{{ rekening.title }} 
								</strong>
								<span>{{ rekening.bedrijfsnaam }}, Factuur #{{ rekening.factuur }}</span>
								<p>
									{{ rekening.beschrijving }}
								</p>
							</div><!-- ./info -->
							<div class="price">
								{{ rekening.bedrag | currency : "€ " : 2 }}
							</div><!-- ./price -->
						</li>
					</ul>
				</div><!-- ./date -->
			</div><!-- ./panel-content -->
		</div>
	</div><!-- ./panel -->
</section>

<!-- Inkomsten modal -->
<div class="modal fade" tabindex="-1" id="inkomstenModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Inkomst toevoegen</h4>
			</div>

			<form class="form-horizontal" ng-submit="addInkomsten()">

				<div class="modal-body">
					<div class="form-group">
						<label for="datepicker" class="col-sm-2 control-label">Datum</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="datepicker" ng-model="date" placeholder="2016-03-05">
						</div>
					</div>
					<div class="form-group">
						<label for="rekening" class="col-sm-2 control-label">Titel</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="rekening" ng-model="title" placeholder="Titel">
						</div>
					</div>
					<div class="form-group">
						<label for="bedrag" class="col-sm-2 control-label">Bedrag</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="bedrag" ng-model="bedrag" placeholder="€ 0.00">
						</div>
					</div>
					<div class="form-group">
						<label for="factuur" class="col-sm-2 control-label">Factuur #</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="factuur" ng-model="factuur" placeholder="factuur #">
						</div>
					</div>
					<div class="form-group">
						<label for="bedrijfsnaam" class="col-sm-2 control-label">Bedrijfsnaam</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="bedrijfsnaam" ng-model="bedrijfsnaam" placeholder="bedrijfsnaam">
						</div>
					</div>
					<div class="form-group">
						<label for="btw" class="col-sm-2 control-label">btw nummer</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="btw" ng-model="btw_nr" placeholder="#BTW">
						</div>
					</div>
					<div class="form-group">
						<label for="beschrijving" class="col-sm-2 control-label">Beschrijving</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" id="beschrijving" ng-model="extra" placeholder="Extra uitleg"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
					<button type="submit" class="btn btn-blue">Toevoegen</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->